---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";
import Angular from "./icons/Angular.astro";
import MySql from "./icons/MySql.astro";
import React from "./icons/React.astro";
import C from "./icons/C.astro";
import Git from "./icons/Git.astro";
import Php from "./icons/Php.astro";
import Jira from "./icons/Jira.astro";
import Confluence from "./icons/Confluence.astro";
import Figma from "./icons/Figma.astro";
import Image from "../images/image.webp";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  C: {
    name: "C#",
    class: "bg-[#24214f] text-white",
    icon: C,
  },
  PHP: {
    name: "Php",
    class: "bg-black text-white",
    icon: Php,
  },
  GIT: {
    name: "Git",
    class: "bg-[#a75649] text-white",
    icon: Git,
  },
  TAILWIND: {
    name: "Tailwind",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  ANG: {
    name: "Angular",
    class: "bg-[#A6120D] text-white",
    icon: Angular,
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-[#3FAFB2] text-white",
    icon: MySql,
  },
  REACT: {
    name: "REACT",
    class: "bg-[#00248A] text-white",
    icon: React,
  },
  Jira: {
    name: "Jira",
    class: "bg-[#00248A] text-white",
    icon: Jira,
  },
  Confluence: {
    name: "Confluence",
    class: "bg-[#00248A] text-white",
    icon: Confluence,
  },
  Figma: {
    name: "Figma",
    class: "bg-[#00248A] text-white",
    icon: Figma,
  },
};

const PROJECTS = [
  {
    title: " M贸dulo de Cotizaci贸n en USD",
    description:
      "Desarrollo de sistema multimoneda para cotizaciones y generaci贸n de 贸rdenes de pago.<br>" +
      "锔Rol: Frontend Developer + l贸gica de negocio<br>" +
      "锔Impacto: Automatizaci贸n del canal mayorista y optimizaci贸n del proceso comercial.",
    image: "/mirepo.github.io/projects/125shots_so.webp",
    github: "https://github.com/MathiasMartinez02",
    tags: [TAGS.ANG, TAGS.C, TAGS.MYSQL, TAGS.GIT],
  },
  {
    title: "Ь Sistema de Pre-Facturaci贸n",
    description:
      "Herramienta interna para organizar pedidos online y validar disponibilidad antes de generar la venta.<br>" +
      "锔 Rol: Frontend Developer<br>" +
      "锔 Impacto: Disminuci贸n de tiempos de atenci贸n y aumento de conversiones.",
    image: "/mirepo.github.io/projects/457shots_so.webp",
    github: "https://github.com/MathiasMartinez02",
    tags: [TAGS.ANG, TAGS.C, TAGS.MYSQL, TAGS.GIT],
  },
  {
    title: " Sistema de Control de Vencimientos",
    description:
      "App para el monitoreo de productos con fechas l铆mite en g贸ndolas.<br>" +
      "锔 Rol: Fullstack Developer<br>" +
      "锔 Impacto: Disminuci贸n de p茅rdidas por vencimientos y mayor control operativo en sucursales.",
    image: "/mirepo.github.io/projects/711shots_so.webp",
    github: "https://github.com/MathiasMartinez02",
    tags: [TAGS.ANG, TAGS.C, TAGS.MYSQL, TAGS.GIT],
  },
  {
    title: " Sistema de Gesti贸n de Requerimientos Internos",
    description:
      "Aplicaci贸n interna para centralizar y dar seguimiento a los requerimientos de distintas 谩reas de negocio.<br>" +
      "锔 Rol: Analista Funcional<br>" +
      "锔 Tareas: Relevamiento con usuarios clave, modelado de procesos, elaboraci贸n de documentaci贸n funcional y validaci贸n de entregables con QA y desarrollo.<br>" +
      "锔 Impacto: Reducci贸n de retrabajos, mejora en la comunicaci贸n entre 谩reas t茅cnicas y funcionales, y aceleraci贸n del ciclo de desarrollo.",
    image: "/mirepo.github.io/projects/631shots_so.webp",
    github: "https://github.com/MathiasMartinez02",
    tags: [TAGS.Jira, TAGS.Confluence, TAGS.Figma],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Project Image"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div
              class="mt-2 text-gray-700 dark:text-gray-400"
              set:html={description}
            />
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
